html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 100px 25% 200px ;
    grid-template-rows: 100px 90px auto;
}

.item {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even) {
    background-color: aqua;
}